<div class="col-sm-6 col-sm-offset-3">
	<input type="hidden" name="event-request-id" th:value="${packageId}">
	<div class="row">
		<div class="col-sm-6">
			<label>EVENT DATE</label>
			<div class="form-group">
				<input id="wizard-date" name="event-request-time" type="text"
					class="form-control" placeholder="Select Event Date" value="" onchange="fourthWizardStep()">
				<span class="input-icon pe-7s-date"></span>
			</div>
		</div>
		<div class="col-sm-6">
			<label>GROUP SIZE</label>
			<div class="form-group">
				<select id="wizard-capacity" class="form-control"
					name="wizard-capacity" onchange="fourthWizardStep()">
					<option></option>
					<option value="<,300">< 300</option>
					<option value="<,500">< 500</option>
					<option value="<,1000">< 1000</option>
					<option value="<,2000">< 2000</option>
					<option value="<,3000">< 3000</option>
					<option value="<,4000">< 4000</option>
					<option value="<,5000">< 5000</option>
					<option value=">,5000">> 5000</option>
				</select>
			</div>
		</div>
	</div>
</div>

<script>
$('#wizard-date').datetimepicker({
	timeFormat: "HH:mm"
});
</script>
