<div class="col-sm-6 col-sm-offset-3">
	<input type="hidden" name="event-request-id" th:value="${packageId}">
	<div class="row">
		<div class="col-sm-6">
			<label>EVENT DATE</label>
			<div class="form-group">
				<input id="wizard-date" name="event-request-time" type="text"
					class="form-control" placeholder="Select Event Date" value=""
					onchange="fourthWizardStep()"> <span
					class="input-icon pe-7s-date"></span>
			</div>
		</div>
	</div>
</div>

<script>
	$('#wizard-date').datetimepicker({
		timeFormat : "HH:mm"
	});
</script>
