<div class="row">
	<div class="quote-info">
		<label id="plan-quote-info" th:inline="text">Please chose your
			[[${stepTitle}]]</label>
	</div>
<!-- 	<div class="col-sm-12"> -->

<!-- 		<div class="col-sm-2"> -->
<!-- 			<span class="pull-right"><h5>Search</h5></span> -->
<!-- 		</div> -->

<!-- 		<div class="col-sm-10"> -->
<!-- 			<div class="form-group"> -->
<!-- 				<input id=wizard-search name="wizard-search" type="text" -->
<!-- 					class="form-control" placeholder="Please enter your keyword" -->
<!-- 					value=""> -->
<!-- 			</div> -->
<!-- 		</div> -->

<!-- 	</div> -->
</div>

<hr>

<div id="wizard-step-content">

	<div class="row" style="margin-bottom: 20px"
		th:if="${#lists.size(items)==0}">

		<div class="col-sm-offset-2 col-sm-6 col-xs-6" style="padding: 0px">
			<h4>Opss there is no item which can be displayed</h4>
			<br /> <br />
		</div>

	</div>

	<div class="row" style="margin-bottom: 20px"
		th:each="item,row:${items}" th:with="numList=${ {2,1,0} }"
		th:if="${row.count % 3 == 0 or row.last}">

		<div class="col-sm-4 col-xs-6" style="padding: 0px"
			th:each="num:${numList}" th:with="dataIndex=(${row.index}-${num})"
			th:if="${row.count % 3 == 0}">

			<div class="item-thumbnail">
				<div th:inline="text" class="item-name">[[${items[dataIndex].name}]]</div>
				<div class="item-image">

					<img
						th:src="${items[dataIndex].image!=null&&!items[dataIndex].image.equals('')&&
								T(com.special.gift.app.util.CommonUtil).httpResponseChecker(#strings.append(imageRoot,#strings.arraySplit(items[dataIndex].image, ':')[0]))}?
								 ${#strings.append(imageRoot,#strings.arraySplit(items[dataIndex].image, ':')[0])}:@{/image/no_image.png}" />

				</div>

				<div class="item-desc" th:inline="text">[[${items[dataIndex].room!=null&&!items[dataIndex].room.equals('')}?
					${#strings.append(#strings.toUpperCase(items[dataIndex].room),#strings.append("-
					Capacity ",#strings.append(items[dataIndex].capacity," Person")))}
					:${#strings.append(#strings.toUpperCase(items[dataIndex].vendorStyle),"
					style ")}]]</div>

				<div class="item-price" th:inline="text">Rp.
					[[${items[dataIndex].paxPrice &gt; 0?
					#numbers.formatDecimal(items[dataIndex].paxPrice,3,'POINT',2,'COMMA'):
					#numbers.formatDecimal(items[dataIndex].price,3,'POINT',2,'COMMA')}]]</div>

				<div class="item-unit" th:inline="text">[[${items[dataIndex].paxPrice
					&gt; 1?"/ Pax":"" }]]</div>

				<a><div class="item-detail"
						th:onclick="'Javascript:showItemDetailModal(\''+${items[dataIndex].id}+'\')'">See
						More Detail</div></a>

			</div>
		</div>

		<div class="col-sm-4 col-xs-6" style="padding: 0px"
			th:each="num:${numList}" th:with="dataIndex=(${row.index}-${num})"
			th:if="${row.last} and ${row.count % 3 != 0} and ${num &lt; row.count % 3}">

			<div class="item-thumbnail">
				<div th:inline="text" class="item-name">[[${items[dataIndex].name}]]</div>
				<div class="item-image">

					<img
						th:src="${items[dataIndex].image!=null&&!items[dataIndex].image.equals('')&&
								T(com.special.gift.app.util.CommonUtil).httpResponseChecker(#strings.append(imageRoot,#strings.arraySplit(items[dataIndex].image, ':')[0]))}?
								 ${#strings.append(imageRoot,#strings.arraySplit(items[dataIndex].image, ':')[0])}:@{/image/no_image.png}" />

				</div>

				<div class="item-desc" th:inline="text">[[${items[dataIndex].room!=null&&!items[dataIndex].room.equals('')}?
					${#strings.append(#strings.toUpperCase(items[dataIndex].room),#strings.append("-
					Capacity ",#strings.append(items[dataIndex].capacity," Person")))}
					:${#strings.append(#strings.toUpperCase(items[dataIndex].vendorStyle),"
					style ")}]]</div>

				<div class="item-price" th:inline="text">Rp.
					[[${items[dataIndex].paxPrice &gt; 1?
					#numbers.formatDecimal(items[dataIndex].paxPrice,3,'POINT',2,'COMMA'):
					#numbers.formatDecimal(items[dataIndex].price,3,'POINT',2,'COMMA')}]]</div>

				<div class="item-unit" th:inline="text">[[${items[dataIndex].paxPrice
					&gt; 1?"/ Pax":"" }]]</div>

				<a><div class="item-detail"
						th:onclick="'Javascript:showItemDetailModal(\''+${items[dataIndex].id}+'\')'">See
						More Detail</div></a>
			</div>


		</div>

	</div>
</div>

<div class="row">

	<div class="col-sm-2 col-sm-offset-2">
		<button class="btn btn-prev"
			th:onclick="'Javascript:processWizardTransaction('+${currentStep}+',false)'">PREVIOUS</button>
	</div>

	<div class="col-sm-4">
		<button id="button_plan_event_next" class="btn btn-next"
			th:onclick="'Javascript:processWizardTransaction('+${currentStep}+',true)'"
			disabled="disabled">NEXT</button>
	</div>

	<div class="col-sm-2">
		<button
			th:onclick="'Javascript:skipWizardTransaction('+${currentStep}+',true)'"
			class="btn-skip">
			<img th:src="@{/image/skip.png}" />SKIP
		</button>
	</div>
</div>





