<header style="color: #e5b516">
	<!-- Navigation -->
	<nav class="navbar yamm navbar-default navbar-fixed-top"
		role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">Event Vaganza</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" data-toggle="dropdown"
						class="dropdown-toggle">Kategori<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<div class="yamm-content">
									<div class="row">
										<div class="col-md-8">xxxx</div>
									</div>
								</div>
							</li>
						</ul></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a class="dropdown-toggle navbar-brand"
						data-toggle="dropdown" th:text="${user}"></a>
						<ul class="dropdown-menu">
							<li><a href="#">Profile</a></li>
							<li><a href="#">Setting</a></li>
							<li><a onclick="invalidate()">Logout</a></li>
						</ul></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a>Bantuan</a></li>
					<li><a>Booking</a></li>
					<li><a th:href="@{/vendor-registration}">Be a Vendor</a></li>
				</ul>

				<form class="navbar-form" role="search" method="GET"
					th:action="@{/search}">
					<div class="input-group search-box">
						<input type="text" class="form-control" placeholder="Search"
							name="f" id="search">
						<div class="input-group-btn">
							<button class="btn btn-default dropdown-toggle" type="button"
								id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="true">
								Kategori <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>


			</div>
		</div>
		<!-- /.navbar-collapse -->
		<!-- /.col-lg-6 -->
		<!-- /.container -->
	</nav>
</header>