<header class="header">
	<div class="nav-logo">
		<a th:href="@{/}"><img th:src="@{/image/logo-nav.png}"
			width="auto" height="40px"></img></a>
	</div>
	<div class="nav-user">
		<a th:href="@{/register}">Daftar</a> <a id="login">Masuk</a> <a
			th:href="@{/help}">Bantuan</a>
	</div>
	<div class="nav-shop">
		<a><img th:src="@{/image/button-buy.png}" width="auto"
			height="40px"></img></a>
	</div>
	<div class="nav-search">
		<form id="form-search-header" th:action="@{/search}">
			<div class="form-search">
				<input type="text" class="form-search-field"
					placeholder="Search ..."></input> <span id="search-header-button"
					class="input-icon pe-7s-search"></span>
			</div>
		</form>
	</div>
	<div id="leftpanel">
		<div class="main-menu">
			<div class="row">
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-venue.png}" width="100%" height="auto"
						style="max-width: 48px" />
						<p class="menu-text">BOOK VENUE</p>
					</a>
				</div>
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-package.png}" width="100%"
						height="auto" style="max-width: 48px" />
						<p class="menu-text">BOOK PACKAGE</p>
					</a>
				</div>
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-entertainment.png}" width="100%"
						height="auto" style="max-width: 48px" />
						<p class="menu-text">ENTERTAINMENT</p>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-4">
					<a th:href="@{/items/car}" class="menu-icon"> <img
						th:src="@{/image/menu-icon-car.png}" width="100%" height="auto"
						style="max-width: 48px" />
						<p class="menu-text">CAR / TRANSPORT</p>
					</a>
				</div>
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-catering.png}" width="100%"
						height="auto" style="max-width: 48px" />
						<p class="menu-text">CATERING</p>
					</a>
				</div>
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-photo.png}" width="100%" height="auto"
						style="max-width: 48px" />
						<p class="menu-text">PHOTOGRAPHY</p>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-decor.png}" width="100%" height="auto"
						style="max-width: 48px" />
						<p class="menu-text">DECORATION</p>
					</a>
				</div>
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-makeup.png}" width="100%" height="auto"
						style="max-width: 48px" />
						<p class="menu-text">MAKE UP</p>
					</a>
				</div>
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-event.png}" width="100%" height="auto"
						style="max-width: 48px" />
						<p class="menu-text">EVENT ORGANIZER</p>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-buy.png}" width="100%" height="auto"
						style="max-width: 48px" />
						<p class="menu-text">BUY EQUIPMENT</p>
					</a>
				</div>
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-rent.png}" width="100%" height="auto"
						style="max-width: 48px" />
						<p class="menu-text">RENT EQUIPMENT</p>
					</a>
				</div>
				<div class="col-sm-4 col-xs-4">
					<a href="#" class="menu-icon"> <img
						th:src="@{/image/menu-icon-other.png}" width="100%" height="auto"
						style="max-width: 48px" />
						<p class="menu-text">OTHER SERVICES</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<span data-panel="leftpanel" class="panel-button"></span>
</header>