<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="content">

		<div class="row">

			<div class="col-xs-12 col-md-10 col-md-offset-1">

				<div class="col-md-4" align="center">
					<a th:href="@{/quick-booking}"> <img
						th:src="@{/image/login-icon.png}"
						class="img-rounded" alt="Cinque Terre" width="200" height="250">
						<label>Quick Booking</label>
					</a>
				</div>
				<div class="col-md-4" align="center">
					<a th:href="@{/plan-event}"> <img
						th:src="@{/image/login-icon.png}"
						class="img-rounded" alt="Cinque Terre" width="200" height="250">
						<label>Start planning event</label>
					</a>
				</div>
				<div class="col-md-4" align="center">
					<img
						th:src="@{/image/login-icon.png}"
						class="img-rounded" alt="Cinque Terre" width="200" height="250">
					<label>My Booking History</label>
				</div>

			</div>

		</div>

	</div>
</body>
</html>