<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="content">
		<div class="container-package-detail">
			<div class="row">
				<h3 class="headline">Pilih kategori</h3>
				<hr class="headline-line">
			</div>

			<!-- carousel -->
			<br />
			<div class="row category-container">
				<!-- end of category header -->
				<div class="col-md-12 main-item-list">
					<div class="col-md-4">

						<div class="col-md-12" th:each="category,rowStat : ${categories1}"
							th:id="${category.vendorType}" style="text-align: center">

							<label class="radio-thumb"> <input type="radio"
								value="wd" name="event-type" /> <a
								th:href="@{/categories/{category}(category=${#strings.replace(category.vendorTypeName,' ','-')},c=${category.vendorType})}"
								class="radio-img"> <img
									th:src="${#strings.append(imageRoot,category.image)}"></img>
									<div class="radio-img-desc" th:inline="text">
										[[${#strings.capitalize(category.vendorTypeName)}]]</div>
							</a>
							</label>

						</div>


					</div>
					<div class="col-md-4">

						<div class="col-md-12" th:each="category,rowStat : ${categories2}"
							th:id="${category.vendorType}" style="text-align: center">

							<label class="radio-thumb"> <input type="radio"
								value="wd" name="event-type" /> <a
								th:href="@{/categories/{category}(category=${#strings.replace(category.vendorTypeName,' ','-')},c=${category.vendorType})}"
								class="radio-img"> <img
									th:src="${#strings.append(imageRoot,category.image)}"></img>
									<div class="radio-img-desc" th:inline="text">
										[[${#strings.capitalize(category.vendorTypeName)}]]</div>
							</a>
							</label>

						</div>


					</div>

					<div class="col-md-4">

						<div class="col-md-12" th:each="category,rowStat : ${categories3}"
							th:id="${category.vendorType}" style="text-align: center">

							<label class="radio-thumb"> <input type="radio"
								value="wd" name="event-type" /> <a
								th:href="@{/categories/{category}(category=${#strings.replace(category.vendorTypeName,' ','-')},c=${category.vendorType})}"
								class="radio-img"> <img
									th:src="${#strings.append(imageRoot,category.image)}"></img>
									<div class="radio-img-desc" th:inline="text">
										[[${#strings.capitalize(category.vendorTypeName)}]]</div>
							</a>
							</label>

						</div>


					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>
