<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="head-title">Quick Event Booking</div>
		</div>

		<!-- carousel -->
		<br />
		<div class="row">
			<div class="col-sm-9">
				<div class="row">
					<div class="quote-info">Select by category</div>
				</div>

				<div class="row" style="margin-bottom: 20px"
					th:each="item, row: ${categories}"
					th:with="numList=${ {5,4,3,2,1,0} }"
					th:if="${row.count % 6 == 0 or row.last}">

					<div class="col-md-2 col-sm-3 col-xs-4" th:each="num : ${numList}"
						th:with="dataIndex=(${row.index} - ${num})"
						th:if="${row.count % 6 == 0}">
						<a
							th:href="@{/categories/{category}(category=${#strings.replace(categories[dataIndex].vendorTypeName,' ','-')},c=${categories[dataIndex].vendorType})}"
							class="menu-icon"> <img
							th:src="${#strings.append(imageRoot,categories[dataIndex].image)}"
							width="100%" height="auto" style="max-width: 48px" />
							<p class="menu-text" th:inline="text">[[${#strings.capitalize(categories[dataIndex].vendorTypeName)}]]</p>
						</a>
					</div>

					<div class="col-md-2 col-sm-3 col-xs-4" th:each="num : ${numList}"
						th:with="dataIndex=(${row.index} - ${num})"
						th:if="${row.last} and ${row.count % 6 != 0} and ${num &lt; row.count % 6}">
						<a
							th:href="@{/categories/{category}(category=${#strings.replace(categories[dataIndex].vendorTypeName,' ','-')},c=${categories[dataIndex].vendorType})}"
							class="menu-icon"> <img
							th:src="${#strings.append(imageRoot,categories[dataIndex].image)}"
							width="100%" height="auto" style="max-width: 48px" />
							<p class="menu-text" th:inline="text">[[${#strings.capitalize(categories[dataIndex].vendorTypeName)}]]</p>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="mseva-plan">
					<img th:src="@{/image/mseva-welcome.png}"></img>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
