body {
	line-height: 1.7;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

body .well {
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: rgb(227, 201, 25);
}

.navbar-default .navbar-nav .navbar-right>li>a {
	color: rgb(227, 201, 25);
}

.navbar-default .navbar-brand {
	color: rgb(227, 201, 25);
}

.navbar-default {
	padding-top: 10px;
	background-color: #fff;
	border-color: rgb(227, 201, 25);
	height: 70px;
	background-color: #fff;
}

code {
	font-size: 80%;
}

@media screen and (min-width: 768px) {
	.modal-dialog {
		width: 700px; /* New width for default modal */
	}
	.modal-sm {
		width: 400px; /* New width for small modal */
	}
}

@media screen and (min-width: 992px) {
	.modal-lg {
		width: 950px; /* New width for large modal */
	}
}

.search-box {
	width: 50%;
}

.error_message {
	font-size: 80%;
	color: #d13127;
	position: relative;
}

.has-error .form-control {
	border-color: #e30b06;
}

.shadow {
	-webkit-box-shadow: -1px -1px 18px -3px rgba(0, 0, 0, 0.63);
	-moz-box-shadow: -1px -1px 18px -3px rgba(0, 0, 0, 0.63);
	box-shadow: -1px -1px 18px -3px rgba(0, 0, 0, 0.63);
}

.category-container {
	background-color: #f5f5f5;
	padding-top: 1%;
}

.line-through {
	border-top: 1px solid #ddd;
	margin: 20px 0;
	position: relative;
	text-align: center;
}

.line-through p {
	position: absolute;
	text-align: center;
	top: -13px;
	width: 100%;
}

.line-through span {
	background: #fff;
	padding: 0 10px;
}

.yellow-link {
	padding: 5px 15px;
	display: block;
	line-height: 16px;
	font-size: 12px;
	color: #fadb05;
	text-decoration: none;
	cursor: pointer;
}

/*used in finder*/
/*copas dari tokopedia ... pengakuan */
.box-white {
	background-color: #fff !important;
}

.box-shadow-light {
	-webkit-box-shadow: 2px 2px 0 0 rgba(166, 166, 166, .1);
	-moz-box-shadow: 2px 2px 0 0 rgba(166, 166, 166, .1);
	box-shadow: 2px 2px 0 0 rgba(166, 166, 166, .1);
}

.box-category--nopadding {
	padding: 0;
}

.box-category {
	padding: 12px 20px;
	border-left: 4px solid #2ab4c2;
}

.box {
	min-height: 20px;
	padding: 15px 25px;
	background-color: #f7f7f7;
	border: 1px solid #e4e4e4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	word-break: break-word;
}

.rel-category-wrapper {
	margin: 0 auto !important;
	padding: 12px 20px;
	text-align: left !important;
}

.rel-category-wrapper h1 {
	padding-bottom: 0;
	line-height: 35px;
}

.fs-12 {
	font-size: 12px !important;
}

.mb-20 {
	margin-bottom: 20px;
}

/*------------detail--------------------*/
.big-button-trigger {
	background-color: rgb(212, 180, 45);
	color: white;
	padding-bottom: 1%;
	transition: all .5s ease-in;
}

.big-button-trigger:hover {
	box-shadow: 1px 0px 5px 8px #DEDEDE;
	transform: scale(1.1, 1.1);
	cursor: pointer;
}

.img-zoom {
	transition: all .3s ease-in;
}

.img-zoom:hover {
	z-index: 9999 !important;;
	transform: scale(1.5, 1.5);
	position: relative;
}

.container-package-detail {
	color: #A5A044;
	margin-top: 100px;
}

hr {
	border-width: 3px 20px -2px;
	border-color: #EAD812 -moz-use-text-color -moz-use-text-color;
}

.detail-package .panel-heading {
	color: #A5A044;
	background-color: #fff;
}

.modal-header {
	background-color: #DECE52;;
	margin-top: 10pxk;
	color: white;
}

.modal-booking {
	margin-top: 5%;
}

.modal-body {
	color: #777;
}

.detail-package .panel-heading {
	background-color: #fff;
}

#ui-datepicker-div{
	top: 50px!important;
}