<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div class="content" th:fragment="content">
		<div class="container">
			<div class="row">
				<h3 class="headline">BOOKING REQUEST</h3>
				<hr class="headline-line">
			</div>
			<div class="book-request">
				<div class="row" style="margin-bottom: 30px">
					<img th:src="@{/image/booking-request_24x32.png}"
						style="width: 24px; height: 32px; margin: 0px 20px; float: right"></img>
					<div class="book-request-label">BOOKING REQUEST CONFIRMATION</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-3" style="padding: 0px">
								<img
									th:src="${package.image!=null&&!package.image.equals('')}?${#strings.append(imageRoot,#strings.arraySplit(package.image, ':')[0])}:@{/image/no_image.png}"
									width="100%" height="auto"></img>
							</div>
							<div class="col-xs-9" style="padding: 0px 10px 0px 10px">
								<h6 style="margin-top: 0px" th:text="${package.name}"></h6>
								<p th:inline="text">[[${package.room!=null &&
									!package.room.equals('')?#strings.append(package.room,' -
									'):''}]] Capacity [[${package.capacity}]] Person</p>
								<br>
								<p th:inline="text">
									<img th:src="@{/image/icon-date-orange_16x16.png}" width="16px"
										height="auto"></img>&nbsp;[[${#dates.format(packageStartime,
									'dd &nbsp; MMMM &nbsp; yyyy')}]]
								</p>
								<p th:inline="text">
									<img th:src="@{/image/icon-time-orange_16x16.png}" width="16px"
										height="auto"></img>&nbsp;[[${#dates.format(packageStartime,
									'HH.mm')}]] &nbsp;- &nbsp;[[${#dates.format(packageEndTime,
									'HH.mm')}]] &nbsp;WIB
								</p>
							</div>
						</div>

						<div class="book-info-box">
							<div class="row">
								<div class="col-xs-4">
									<p class="box-label">BOOK BY</p>
								</div>
								<div class="col-xs-8">
									<p class="box-info" th:inline="text">[[${requester.username}]]</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<p class="box-label">ADDRESS</p>
								</div>
								<div class="col-xs-8">
									<p class="box-info" th:inline="text">[[${requester.userAddress}]]</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<p class="box-label">MOBILE</p>
								</div>
								<div class="col-xs-8">
									<p class="box-info" th:inline="text">[[${requester.handphone}]]</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="cost-estimate-detail">
							<div class="row cost-title">
								<p>
									<img th:src="@{/image/icon-cost-orange_16x16.png}" width="16px"
										height="auto" style="margin-right: 10px"></img>COST ESTIMATION
								</p>
							</div>
							<hr class="cost-estimate-line">
							<div class="cost-estimate-content">
								<div class="row">
									<div class="col-xs-7">
										<p th:inline="text">Rental for [[${package.rentDuration}]]
											Hours</p>
									</div>
									<div class="col-xs-5">
										<p
											th:text="${#strings.append('Rp. ',#numbers.formatDecimal(package.price,3,'POINT',2,'COMMA'))}">Rp.000</p>
									</div>
								</div>
							</div>

						</div>

						<div class="cost-estimate-total">
							<div class="row">
								<div class="col-xs-7">
									<p class="box-label">TOTAL</p>
								</div>
								<div class="col-xs-5">
									<p class="box-info"
										th:text="${#strings.append('Rp. ',#numbers.formatDecimal(package.price,3,'POINT',2,'COMMA'))}">Rp.
										000</p>
								</div>
							</div>
						</div>

						<div class="row">
							<p>Banquet Manager will confirm the availability of the venue
								and detail final price.</p>
							<p>We will notify you within 24 Hours.</p>
						</div>

						<div class="row">
							<form id="booking-request-form" th:action="@{/booking/payment}"
								method="POST">
								<input name="package_id" type="hidden" th:value="${package.id}">
								<input name="event_date" type="hidden"
									th:value="${#dates.format(packageStartime,
									'yyyy/MM/dd HH:mm')}">
								<button class="btn btn-action">CONFIRM REQUEST</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>