<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="row-fluid" th:fragment="content">
		<div class="col col-md-12">
			<div
				class="box box-white box-category box-category--nopadding box-shadow-light">
				<div class="row rel-category-wrapper">
					<div class="col col-md-4">
						<span><a
							th:text="*{parentName != null}? *{parentName} : ''"
							th:href="@{/categories/{category}(category=${parent},c=${root_type})}"></a></span>
						<h1
							th:text="${#strings.capitalize(child_name!=null?child_name:category_name)}">Title</h1>
						<p class="fs-12 mb-20"
							th:text="${#strings.capitalize(child_description!=null?child_description:category_description)}">Lorem
							ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
							cursus pharetra lectus accumsan accumsan. Proin nec dui dapibus,
							accumsan magna a, ultricies mi. Curabitur facilisis in nulla eu
							elementum. Donec vel eleifend orci. Aliquam vel dolor neque.
							Aliquam eu turpis a urna gravida volutpat vitae sed arcu. Mauris
							eget lorem sollicitudin arcu aliquet dapibus vel nec enim.
							Aliquam sollicitudin lobortis volutpat. Aliquam porta, orci non
							dictum congue, lectus metus rhoncus risus, id accumsan turpis
							dolor vitae elit.</p>
					</div>
					<div class="col col-md-8">
						<div class="row" style="padding-top: 8%;">
							<div class="col col-md-4" align="center">
								<ul class="list-group">
									<li class="list-group-item"
										th:each="child,rowStat : ${children1}"><a
										th:text="${#strings.capitalize(child.vendorTypeName)}"
										th:href="@{/categories/{parent}/{child}(parent=${#strings.replace(parent,' ','-')},child=${#strings.replace(child.vendorTypeName,' ','-')},c=${child.vendorType})}"></a></li>
								</ul>
							</div>
							<div class="col col-md-4" align="center">
								<ul class="list-group">
									<li class="list-group-item"
										th:each="child,rowStat : ${children2}"><a
										th:text="${#strings.capitalize(child.vendorTypeName)}"
										th:href="@{/categories/{parent}/{child}(parent=${#strings.replace(parent,' ','-')},child=${#strings.replace(child.vendorTypeName,' ','-')},c=${child.vendorType})}"></a></li>
								</ul>
							</div>
							<div class="col col-md-4" align="center">
								<ul class="list-group">
									<li class="list-group-item"
										th:each="child,rowStat : ${children3}"><a
										th:text="${#strings.capitalize(child.vendorTypeName)}"
										th:href="@{/categories/{parent}/{child}(parent=${#strings.replace(parent,' ','-')},child=${#strings.replace(child.vendorTypeName,' ','-')},c=${child.vendorType})}"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of header box -->
		</div>
		<!-- end of first container -->

		<div class="col col-md-12">
			<ol class="breadcrumb">
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/categories}">Categories</a></li>
				<li><a th:text="*{parentName != null}? *{parentName} : ''"
					th:href="@{/categories/{category}(category=${parent},c=${root_type})}"></a></li>
			</ol>
		</div>
		<!-- end of breadcumb -->

		<div class="col col-md-12">
			<div class="row container">
				<div class="col-md-12">
					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>
				</div>
				<!-- end of first thumnail row -->

				<div class="col-md-12">
					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample2.png}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample2.png}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample2.png}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample2.png}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample2.png}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample2.png}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>
				</div>

				<!-- end of second thumbnail row -->

				<div class="col-md-12">
					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>

					<div class="col-sm-6 col-md-2">
						<div class="thumbnail">
							<img class="img-fluid" th:src="@{/image/sample1.jpeg}"
								alt="Responsive image">
						</div>

						<div class="caption">
							<span>Thumbnail label</span>
							<p>Some sample text. Some sample text.</p>
						</div>
					</div>
				</div>
				<!-- end of third thumbnail row -->
			</div>
		</div>
</body>
</html>