<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="row-fluid" th:fragment="content">
		<div class="col col-md-12 container-package-detail">
			<div
				class="box box-white box-category box-category--nopadding box-shadow-light">
				<div class="row rel-category-wrapper">
					<div class="col col-md-4">
						<span><a
							th:text="*{parentName != null}? *{parentName} : ''"
							th:href="@{/categories/{category}(category=${parent},c=${root_type})}"></a></span>
						<h1
							th:text="${#strings.capitalize(child_name!=null?child_name:category_name)}">Title</h1>
						<p class="fs-12 mb-20"
							th:text="${#strings.capitalize(child_description!=null?child_description:category_description)}"></p>
					</div>
					<div class="col col-md-8">
						<div class="row" style="padding-top: 8%;">
							<div class="col col-md-4" align="center">
								<ul class="list-group">
									<li class="list-group-item"
										th:each="child,rowStat : ${children1}"><a
										th:text="${#strings.capitalize(child.vendorTypeName)}"
										th:href="@{/categories/{parent}/{child}(parent=${#strings.replace(parent,' ','-')},child=${#strings.replace(child.vendorTypeName,' ','-')},c=${child.vendorType})}"></a></li>
								</ul>
							</div>
							<div class="col col-md-4" align="center">
								<ul class="list-group">
									<li class="list-group-item"
										th:each="child,rowStat : ${children2}"><a
										th:text="${#strings.capitalize(child.vendorTypeName)}"
										th:href="@{/categories/{parent}/{child}(parent=${#strings.replace(parent,' ','-')},child=${#strings.replace(child.vendorTypeName,' ','-')},c=${child.vendorType})}"></a></li>
								</ul>
							</div>
							<div class="col col-md-4" align="center">
								<ul class="list-group">
									<li class="list-group-item"
										th:each="child,rowStat : ${children3}"><a
										th:text="${#strings.capitalize(child.vendorTypeName)}"
										th:href="@{/categories/{parent}/{child}(parent=${#strings.replace(parent,' ','-')},child=${#strings.replace(child.vendorTypeName,' ','-')},c=${child.vendorType})}"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of header box -->
		</div>
		<!-- end of first container -->

		<div class="col col-md-12">
			<ol class="breadcrumb">
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/categories}">Categories</a></li>
				<li><a th:text="*{parentName != null}? *{parentName} : ''"
					th:href="@{/categories/{category}(category=${parent},c=${root_type})}"></a></li>
			</ol>
		</div>
		<!-- end of breadcumb -->

		<div class="col col-md-12">
			<div class="row">
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading">Filter</div>
						<div class="panel-body">

							<div class="form-group has-feedback">
								<label for="filter_keyword_items">Cari di kategori ini</label>
								<div class="input-group ">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button"
											id="button_filter_keyword_items">
											<span class="glyphicon glyphicon-search"></span>
										</button>
									</span> <input type="text" class="form-control"
										id="filter_keyword_items" placeholder="Search for...">
								</div>
								<!-- /input-group -->
							</div>

							<div class="form-group has-feedback">
								<label for="max_price">Harga</label>
								<div class="row">
									<div class="col col-md-6">
										<input type="text" class="form-control" name="min_price"
											id="filter_min_price_selection" placeholder="min" />
									</div>
									<div class="col col-md-6">
										<input type="text" class="form-control" name="max_price"
											id="filter_max_price_selection" placeholder="max">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="package_sorting">Urutkan</label> <select
									class="form-control" id="filtering_package_sorting">
									<option></option>
									<option value="cheapest">Termurah</option>
									<option value="most_expensive">Termahal</option>
									<option value="capacity">Kapasitas</option>
									<option value="promo">Promo</option>
									<option value="discount">Diskon</option>
								</select>
							</div>

							<div class="form-group has-feedback">
								<i
									class="glyphicon glyphicon glyphicon-search form-control-feedback"></i>
								<input type="text" class="form-control" name="capacity"
									id="filter_capacity_selection" placeholder="kapasitas">
							</div>

							<div class="form-group has-feedback">
								<i
									class="glyphicon glyphicon glyphicon-search form-control-feedback"></i>
								<input type="text" class="form-control"
									name="filter_city_selection" id="filter_city_selection"
									placeholder="kota">
							</div>

							<div class="form-group">
								<label for="filter_package_type_selection">Package Type</label>
								<select class="form-control" id="filter_package_type_selection">
									<option value="all">All</option>
									<option value="vendor">Vendor</option>
									<option value="venue">Venue</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="col-md-12 item-list">
						<div id="item_list" class="row"></div>
					</div>
					<!-- end of list container -->
					<div class="col-sm-12 col-md-11">
						<ul id="pagination" class="pagination pull-right">

						</ul>
					</div>
					<!-- end of pagination row -->
				</div>
			</div>
		</div>
</body>
</html>