<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="content" style="margin-top: 15%;">
		<h2 id="forgot_password_title">Lest's Find Your Account</h2>
		<div class="container" id="main_forgot_password_body"
			style="background-color: rgba(247, 194, 29, 0.95);">
			<div class="panel-heading">
				<h5 style="color: #fff;">Please Enter Your Email</h5>
			</div>
			<div class="panel-body" style="padding-left: 0px;">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<h5 align="center" id="forgot_password_email_error_message"
							hidden="true"
							style="color: rgba(162, 41, 6, 0.9); font-size: 2em; font-weight: bold;"></h5>
					</div>
				</div>
				<div class="row">
					<div id="form_group_forgot_password" class="form-group">
						<input type="email" class="form-control"
							id="forgot_password_email" name="forgot_password_email"
							placeholder="email"></input>
					</div>
				</div>

				<button id="button_forgot_password" type="button"
					class="btn btn-default"
					style="background-color: #fff; border: none;">Submit</button>
			</div>
		</div>
	</div>
</body>
</html>