<!doctype html>
<html lang="en">
<head>
</head>

<body>

	<div class="wrapper" th:fragment="content">
			<div class="container">
				<div class="row">
					<h3 class="headline">CAR / TRANSPORT</h3>
					<hr class="headline-line">
				</div>
				<div class="row">
					<div class="col-sm-4">
						<a class="item-opt-thumb" href="#"> <img
							th:src="@{/image/item-opt-thumb01.jpg}"></img>
							<div class="item-opt-desc">BMW</div>
						</a>
					</div>
					<div class="col-sm-4">
						<a class="item-opt-thumb" href="#"> <img
							th:src="@{/image/item-opt-thumb02.jpg}"></img>
							<div class="item-opt-desc">MERCEDEZ</div>
						</a>
					</div>
					<div class="col-sm-4">
						<a class="item-opt-thumb" href="#"> <img
							th:src="@{/image/item-opt-thumb03.jpg}"></img>
							<div class="item-opt-desc">BIG LUXURY CAR</div>
						</a>
					</div>
				</div>
			</div>
		</div>

</body>
</html>