<div class="wrapper" th:fragment="content">
	<div class="container">
		<div class="row">
			<h3 class="headline"
				th:text="${#strings.append(#strings.toUpperCase(package_type),' DESCRIPTION')}"></h3>
			<hr class="headline-line">
		</div>


		<div class="row"
			th:remove="${packageDetail.image == null||packageDetail.image.equals('')}?'all':'none'">
			<div id="image-slide" class="carousel slide" data-ride="carousel">

				<!-- Wrapper for slides -->
				<div th:unless="${packageDetail.image == null}"
					class="carousel-inner" role="listbox">
					<div
						th:each="img,status : ${#strings.arraySplit(packageDetail.image, ':')}"
						class="item" th:classappend="${status.index==0}?'active':''">
						<img class="center-block"
							th:src="${#strings.append(imageRoot,img)}" alt="Chania"
							style="height: 350px;">
					</div>
				</div>


				<!-- Left and right controls -->
				<div class="carousel-control">
					<img th:src="@{/image/icon-slide-prev.png}" href="#image-slide"
						data-slide="prev" style="float: left; cursor: pointer"></img> <img
						th:src="@{/image/icon-slide-next.png}" href="#image-slide"
						data-slide="next" style="float: right; cursor: pointer"></img>
				</div>

				<!-- Indicators -->
				<div class="carousel-indicators">
					<li
						th:each="img,status : ${#strings.arraySplit(packageDetail.image, ':')}"
						th:classappend="${status.index==0}?'active':''"
						data-target="#image-slide" th:attr="data-slide-to=${status.index}"></li>
				</div>

			</div>

			<div class="carousel-description" th:inline="text">
				[[${#strings.toUpperCase(packageDetail.name)}]] <small>[[${#strings.capitalize(packageDetail.room)}]]
				
			</div>

		</div>

		<div class="row">
			<div class="col-sm-4" style="padding: 0px">
				<div class="row">
					<div class="col-xs-4 col-sm-12" style="padding: 0px 5px">
						<div class="info-box">
							<h6 th:text="${#strings.append('Rp. ',#numbers.formatDecimal(packageDetail.price,3,'POINT',2,'COMMA'))}">1000</h6>
							<p>total price</p>
						</div>
					</div>
					<div class="col-xs-4 col-sm-12" style="padding: 0px 5px">
						<div class="info-box">
							<h6
								th:text="${packageDetail.vendorStyle==null || packageDetail.vendorStyle.equals('')}?${#strings.append('Rp. ',#numbers.formatDecimal(packageDetail.paxPrice,3,'POINT',2,'COMMA'))}:${packageDetail.vendorStyle}">RP.
								250 K</h6>
							<p
								th:text="${packageDetail.vendorStyle==null || packageDetail.vendorStyle.equals('')}?'per Pax':'Style'">per
								Pack</p>
						</div>
					</div>
					<div class="col-xs-4 col-sm-12" style="padding: 0px 5px">
						<div class="info-box">
							<h6 th:text="${packageDetail.capacity}">1000</h6>
							<p>People</p>
						</div>
					</div>
					<div class="col-xs-4 col-sm-12" style="padding: 0px 5px">
						<div class="info-box">
							<h6
								th:text="${#strings.append(packageDetail.rentDuration,' Hours')}">3
								HOURS</h6>
							<p
								th:text="${package_type.equals('venue')}?'Room Usage':'Service'">Room
								Usage</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="item-description-title" th:inline="text">[[${#strings.toUpperCase(packageDetail.name)}]],
						[[${#strings.toUpperCase(packageDetail.location)}]]</div>
					<div class="item-description"
						th:utext="${#strings.capitalize(#strings.replace(packageDetail.description,'&#10;','&lt;br&gt;'))}">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div
				th:text="${#strings.append('BOOK THIS ',#strings.toUpperCase(package_type))}"
				class="sub-head">BOOK THIS VENUE</div>
			<hr class="sub-head-line">
		</div>

		<div class="col-sm-6 col-sm-offset-3">
			<form id="booking-request-form" th:action="@{/booking/request}"
				method="POST">
				<input type="hidden" name="event-request-id" th:value="${packageId}">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-4">
						<label>EVENT DATE</label>
						<div class="form-group">
							<input id="booking-date" name="event-request-time" type="text"
								class="form-control" placeholder="Select Event Date" value="">
							<span class="input-icon pe-7s-date"></span>
						</div>
					</div>
				</div>
			</form>
			<div class="row" align="center">
				<label id="booking-request-error-message" style="color: #e53c04;"></label>
				<div class="col-sm-12">
					<button id="confirm-booking-request" class="btn btn-action"
						style="width: 100%">BOOKING REQUEST</button>
				</div>
			</div>
		</div>
	</div>
</div>