<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
	name="viewport" />

</head>

<body>

	<div class="content" th:fragment="content">
		<div class="container">
			<div class="row">
				<div class="head-title">Plan My Event</div>
			</div>

			<div class="row">
				<div id="wizard" style="text-align: center">
					<ul class="progress-indicator custom-complex">
						<li th:each="step,iter:${steps}"
							th:class="${iter.count==1}?'onprogress'" th:id="${step.id}"
							th:inline="text"><span class="bubble"></span>[[${step.stepName}]]</li>
					</ul>
				</div>

				<div class="row">
					<div class="col-sm-9">

						<div id="wizard_content">
							<!-- dynamic content -->

							<div class="row" style="margin-bottom: 50px;">
								<div class="quote-info">
									<label id="plan-quote-info">Please define your event
										detail</label>
								</div>
							</div>
							<div class="col-sm-8 col-sm-offset-2">

								<label>CITY</label>
								<div class="form-group">
									<select id="wizard-city" name="plan-event-city"
										class="form-control">
									</select>
								</div>
								<label>GUEST</label>
								<div class="form-group">
									<select id="wizard-guest" name="plan-event-guest"
										class="form-control">
										<option></option>
										<option value="<,300">< 300</option>
										<option value="<,500">< 500</option>
										<option value="<,1000">< 1000</option>
										<option value="<,2000">< 2000</option>
										<option value="<,3000">< 3000</option>
										<option value="<,4000">< 4000</option>
										<option value="<,5000">< 5000</option>
										<option value=">,5000">> 5000</option>
									</select>
								</div>
								<label>EVENT DATE & TIME</label>
								<div style="margin-bottom: 60px;" class="form-group">
									<input id="wizard-date" name="plan-event-date" type="text"
										class="form-control" placeholder="Select Event Date" value="">
									<span class="input-icon pe-7s-date"></span>
								</div>

							</div>

							<div class="row">
								<div class="col-sm-4 col-sm-offset-4">
									<button style="margin-top: 50px;" id="wizard-process-button"
										class="btn btn-next"
										onclick="processWizardTransaction(1,true)">NEXT</button>
								</div>
							</div>
						</div>
						<!-- end of dynamic content -->

					</div>
					<div class="col-sm-3">
						<div class="mseva-plan">
							<img th:src="@{/image/mseva-welcome.png}"></img>
							<div class="quote-info">
								<label id="plan-quote-info-selected" style="font-size: 20px;"></label>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<input type="hidden" id="plan_user_id" th:value="${userId}"> <input
			type="hidden" id="plan_venue_category" th:value="${venueCategory}">
		<input type="hidden" id="plan_value_container">

	</div>


	</div>

</body>
</html>