<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container" th:fragment="content">
		<br />
		<div class="row">
			<div class="col-sm-6">
				<h1>Event Vaganza</h1>
				<h3>Registration for free in Event Vaganza</h3>
				<p>
					Already have an account? Sign in <a href="/login">here<a></a>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<form name="registration" action="#" th:action="@{/user}"
					th:object="${user}" method="post">
					<div id="form_group_username" class="form-group has-feedback">
						<i class="glyphicon glyphicon-user form-control-feedback"></i> <input
							type="text" class="form-control" name="username" id="username"
							placeholder="Name" th:field="*{username}"> <span
							class="error_message" id="username_error_message" hidden="true"></span>
					</div>
					<div id="form_group_handphone" class="form-group has-feedback">
						<i class="glyphicon glyphicon-phone form-control-feedback"></i> <input
							type="text" class="form-control" name="handphone" id="handphone"
							placeholder="Mobile Number" th:field="*{handphone}"> <span
							class="error_message" id="handphone_error_message" hidden="true"></span>
					</div>
					<div id="form_group_phone" class="form-group has-feedback">
						<i class="glyphicon glyphicon-earphone form-control-feedback"></i>
						<input type="text" class="form-control" id="phone" name="phone"
							placeholder="Phone" th:field="*{phone}"> <span
							class="error_message" id="phone_error_message" hidden="true"></span>
					</div>
					<div id="form_group_email" class="form-group has-feedback">
						<i class="glyphicon glyphicon-envelope form-control-feedback"></i>
						<input type="email" class="form-control" id="email" name="email"
							placeholder="email" th:field="*{email}"> <span
							class="error_message" id="email_error_message" hidden="true"></span>
					</div>
					<div id="form_group_password" class="form-group has-feedback">
						<i class="glyphicon glyphicon-eye-close form-control-feedback"></i>
						<input type="password" class="form-control" id="password"
							name="password" placeholder="password" th:field="*{password}">
						<span class="error_message" id="password_error_message"
							hidden="true"></span>
					</div>
					<div id="form_group_zipcode" class="form-group has-feedback">
						<i class="glyphicon glyphicon-home form-control-feedback"></i> <input
							type="text" class="form-control" id="zipcode" name="zipcode"
							placeholder="zipcode" th:field="*{userZip}"> <span
							class="error_message" id="zipcode_error_message" hidden="true"></span>
					</div>
					<div id="form_group_address" class="form-group">
						<textarea class="form-control" th:field="*{userAddress}"
							id="user_address" name="user_address" rows="3"
							placeholder="Address"></textarea>
						<span class="error_message" id="address_error_message"
							hidden="true"></span>
					</div>
					<button id="register_vendor_button" type="submit" class="btn btn-warning"
						disabled="true" style="width: 100%">Submit</button>
				</form>
				<div class="col-sm-12" align="left"
					style="padding-top: 5%; padding-left: 0%;">
					<p>
						Dengan menekan Daftar Akun, saya mengkonfirmasi telah menyetujui <a>Syarat
							dan Ketentuan</a>, serta <a>Kebijakan Privasi</a> Event Vaganza.
					</p>
				</div>
			</div>

		</div>
	</div>
</body>
</html>