<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
	<div class="wrapper" th:fragment="content">
		<div class="row">
			<h3 class="headline">Search</h3>
			<hr class="headline-line">
		</div>
		<div class="row">

			<div class="col-sm-4">
				<div class="row">
					<label>EVENT TYPE</label>
					<div class="form-group">
						<select id="event-type-dropdown" class="form-control">
							<option th:each="event:${events}" th:inline="text"
								th:value="${event.vendorType}">[[${event.vendorTypeName}]]</option>
						</select>
					</div>
				</div>
				<div class="row">
					<label>CITY</label>
					<div class="form-group">
						<select id="city-dropdown" class="form-control">
							<option th:each="city:${cities}" th:inline="text"
								th:value="${city.name}">[[${city.name}]]</option>
						</select>
					</div>
				</div>
				<div class="row">
					<label>GROUP SIZE</label>
					<div class="form-group">
						<select id="capacity-dropdown" class="form-control">
							<option value="<,300">< 300</option>
							<option value="<,500">< 500</option>
							<option value="<,1000">< 1000</option>
							<option value=">,1000">> 1000</option>
						</select>
					</div>
				</div>
				<div class="row">
					<button onclick="advanceSearch()" class="btn btn-action">SEARCH</button>
				</div>
			</div>

			<div id="search-result" class="col-sm-8">
				<div th:each="item:${itemList}" class="col-sm-3"
					style="margin-bottom: 20px">
					<a th:href="${item.url}"> <img
						th:src=" ${#strings.arraySplit(item.image, ',')[0]}" width="100%"
						height="250px" style="max-width: 180px;"></img>
					</a>

					<h6 th:inline="text">[[${item.name}]]</h6>
					<br />
					<p th:inline="text">[[${item.room!=null
						&&!item.room.equals('')}?${#strings.append(#strings.toUpperCase(item.room),'-')}:'']]
						Capacity [[${item.capacity}]] Person</p>

					<p th:inline="text">[[${item.location}]]</p>

					<p th:inline="text">[[${not
						item.vendorStyle.equals('')}?${#strings.append(#strings.capitalize(item.vendorStyle),'
						style')}: ${#strings.append(#strings.append('Start from
						Rp.',#numbers.formatDecimal(item.paxPrice,3,'POINT',2,'COMMA')),'
						/pax')} ]]</p>

					<p th:inline="text">Only For [[${#strings.append('Rp.
						',#numbers.formatDecimal(item.price,3,'POINT',2,'COMMA'))}]]</p>

					<p th:inline="text">
						Book now only for <br /> [[${#strings.append('Rp.
						',#numbers.formatDecimal(item.minimumPayment,3,'POINT',2,'COMMA'))}]]
					</p>
				</div>
			</div>
		</div>

		<p id="total_search_page" th:text="${totalPage}" hidden></p>
		<p id="total_displayed_item" th:text="${totalDisplayItem}" hidden></p>

		<div class="col-sm-6 col-sm-offset-4" id="search-pagination"></div>
	</div>

</body>
</html>