<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container" th:fragment="content">
		<div class="row container-package-detail">
			<div class="col-sm-6 col-sm-offset-2">
				<div class="row">
					<p
						style="font-size: 18px; font-weight: 700; line-height: 20px; color: #ccc; margin: 10px 0px">
						USER INFORMATION <span><i
							class="input-icon pe-7s-angle-down"
							style="font-size: 24px; position: absolute; top: 8px; margin-left: 20px; cursor: pointer"
							onclick="toggle_visibility('more-info')"></i></span>
					</p>
				</div>
				<div class="row">
					<div class="col-sm-5" style="color: #898989">
						<label>NAME</label>
					</div>
					<div class="col-sm-7">
						<label th:text="${existingData.username}">name</label>
					</div>
				</div>
				<div id="more-info" style="display: none">

					<div class="row">
						<div class="col-sm-5" style="color: #898989">
							<label>PHONE</label>
						</div>
						<div class="col-sm-7">
							<label th:text="${existingData.phone}">+62-21 580 1866</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5" style="color: #898989">
							<label>MOBILE PHONE</label>
						</div>
						<div class="col-sm-7">
							<label th:text="${existingData.handphone}">+62812 9876
								1234</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5" style="color: #898989">
							<label>E-MAIL</label>
						</div>
						<div class="col-sm-7">
							<label th:text="${existingData.email}">lemonz@flatstudio.com</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5" style="color: #898989">
							<label>ZIP CODE</label>
						</div>
						<div class="col-sm-7">
							<label th:text="${existingData.userZip}">zip</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5" style="color: #898989">
							<label>ADDRESS</label>
						</div>
						<div class="col-sm-7">
							<label th:text="${existingData.userAddress}">address</label>
						</div>
					</div>
				</div>
				<br>

				<div class="row">
					<a th:href="@{/user-update}">
						<button class="btn btn-action">Update Data</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>